.autotools
.cproject
.project
.settings
autom4te.cache
*~

testsuite.dir
testsuite.log

atconfig

*.o
*.gcda
*.gcno

Makefile
config.log
config.status
src/.deps/
src/stamp-h1
src/openrfs
src/config.h
